<!-- Titre de la page d'inscription des bénéficiaires -->
<h1 class="title">Inscription bénéficiaires</h1>

<!-- Formulaire lié au groupe de formulaires 'personnesForm' et gérant l'événement de soumission -->
<form [formGroup]="personnesForm" (ngSubmit)="onSubmit()">
    <!-- Section des informations générales -->
    <article>
        <h2>Informations générales</h2>
        <div class="info1">
            <!-- Case à cocher pour indiquer si la personne est chef de ménage -->
            <label for="Chef_Menage">Chef de ménage</label>
            <input type="checkbox" id="Chef_Menage" formControlName="Chef_Menage">
            
            <!-- Champ de formulaire pour le nom -->
            <label for="Nom">Nom:</label>
            <input type="text" id="Nom" formControlName="Nom">

            <!-- Champ de formulaire pour le prénom -->
            <label for="Prenom">Prénom:</label>
            <input type="text" id="Prenom" formControlName="Prenom">

            <!-- Champ de formulaire pour la date de naissance -->
            <label for="Date_de_naissance">Date de Naissance:</label>
            <input type="date" id="Date_de_naissance" formControlName="Date_de_naissance">

            <!-- Menu déroulant pour les revenus -->
            <label for="Revenus">Revenus</label>
            <select id="Revenus" formControlName="Revenus">
                <option value="Chomage">Chômage</option>
                <option value="CPAS">CPAS</option>
                <option value="Mutuelle">Mutuelle</option>
                <option value="Pension">Pension</option>
                <option value="Sans_Revenus">Sans revenus</option>
                <option value="Autre">Autre</option>
            </select>
        </div>
    </article>

    <!-- Section des informations d'adresse -->
    <article>
        <h2>Adresse</h2>
        <div class="info2">
            <!-- Champ de formulaire pour la rue -->
            <label for="Rue">Rue</label>
            <input type="text" id="Rue" formControlName="Rue">

            <!-- Champ de formulaire pour le numéro -->
            <label for="Numero">N°</label>
            <input type="text" id="Numero" formControlName="Numero">

            <!-- Champ de formulaire pour le code postal -->
            <label for="Code_Postal">Code Postal</label>
            <input type="number" id="Code_Postal" formControlName="Code_Postal">

            <!-- Champ de formulaire pour la commune -->
            <label for="Commune">Commune</label>
            <input type="text" id="Commune" formControlName="Commune">
        </div>
    </article>

    <!-- Section des informations complémentaires -->
    <article class="Complementaires">
        <h2>Informations Complémentaires ( Un choix obligatoire minimum !! )</h2>
        <div class="info3">
            <!-- Liste d'options avec cases à cocher pour les informations complémentaires -->
            <ul>
                <li> 
                    <label for="Handicape">Handicapé:</label>
                    <input type="checkbox" id="Handicape" formControlName="Handicape">

                    <label for="Femme">Femme:</label>
                    <input type="checkbox" id="Femme" formControlName="Femme">

                    <label for="Immigres">Immigrés</label>
                    <input type="checkbox" id="Immigres" formControlName="Immigres">

                    <label for="Sans_Abris">Sans-Abris</label>
                    <input type="checkbox" id="Sans_Abris" formControlName="Sans_Abris">

                    <label for="Sans_Papier">Sans-Papier</label>
                    <input type="checkbox" id="Sans_Papier" formControlName="Sans_Papier">
                </li>
            </ul>
        </div>
        
        <!-- Deuxième liste d'options avec cases à cocher pour les informations complémentaires -->
        <div class="info4">
            <ul>
                <li>
                    <label for="Bebe_0_6_Mois">Bébé 0 à 6 Mois</label>
                    <input type="checkbox" id="Bebe_0_6_Mois" formControlName="Bebe_0_6_Mois">

                    <label for="Bebe_6_24_Mois">Bébé 6 à 24 Mois</label>
                    <input type="checkbox" id="Bebe_6_24_Mois" formControlName="Bebe_6_24_Mois">

                    <label for="Enfants_2_14_Ans">Enfants 2 à 14 ans</label>
                    <input type="checkbox" id="Enfants_2_14_Ans" formControlName="Enfants_2_14_Ans">

                    <label for="Ados_14_18_Ans">Ados de 14 à 18 ans</label>
                    <input type="checkbox" id="Ados_14_18_Ans" formControlName="Ados_14_18_Ans">

                    <label for="J_Adulte_18_24_Ans">Jeune adulte 18 à 24 ans</label>
                    <input type="checkbox" id="J_Adulte_18_24_Ans" formControlName="J_Adulte_18_24_Ans">

                    <label for="Adultes_25_64_Ans">Adultes 25 à 64 ans</label>
                    <input type="checkbox" id="Adultes_25_64_Ans" formControlName="Adultes_25_64_Ans">

                    <label for="Pensionne">Pensionné</label>
                    <input type="checkbox" id="Pensionne" formControlName="Pensionne">
                </li>
            </ul>
        </div>
    </article>

    <!-- Bouton de soumission du formulaire -->
    <button type="submit">Soumettre</button>
</form>

<!-- Pied de page -->
<footer></footer>
