/* Styles spécifiques pour le formulaire d'inscription des bénéficiaires */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/bleu.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title, h2 {
    color: #fff; /* Couleur du texte du titre et des sous-titres */
    background-color: #336699; /* Nouvelle couleur de fond du titre et des sous-titres */
    padding: 15px; /* Espace intérieur autour du texte */
    border-radius: 8px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
}

form {
    max-width: 600px; /* Ajustez la largeur du formulaire selon vos besoins */
    margin: 20px auto; /* Centrer le formulaire sur la page */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Fond semi-transparent pour une meilleure lisibilité */
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; /* Couleur du texte des étiquettes */
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Utilisation de flexbox pour aligner les éléments sur une ligne */
.info3, .info4 {
    display: flex;
    flex-direction: row; /* Aligner les éléments horizontalement */
    justify-content: space-between; /* Espace équitable entre les éléments */
    flex-wrap: wrap; /* Permettre le retour à la ligne pour les éléments enfants */
}

button {
    background-color: #4CAF50; /* Couleur de fond du bouton */
    color: white; /* Couleur du texte du bouton */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Couleur de fond du bouton au survol */
}

/* Styles spécifiques pour les cases à cocher */
input[type="checkbox"] {
    margin-right: 5px;
}
