<body class="background-image body-container">

  <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h3>Ajouter un utilisateur</h3>
        <label for="UserName">Utilisateur : </label>
        <input type="text" name="UserName" id="UserName" placeholder="Utilisateur" formControlName="UserName">
    
        <label for="PasswordHash">Mot de passe : </label>
        <input type="password" name="PasswordHash" id="PasswordHash" placeholder="Password" formControlName="PasswordHash" >
    
        <div class="button-container">
          <button type="submit">Ajouter</button>
        </div>
        
      </form>
    </div>
</body>
