/* Style commun pour les deux tableaux */
table.personne-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
  }
  
  thead {
    background-color: #336699;
    color: white;
    text-align: center;
  }
  
  th {
    padding: 1px;
    text-align: left;
    border: 1px solid #4ca2af;
    border-top: none;
    border-bottom: none;
    border-radius: 12px 12px 0 0;
    text-align: center;
  }
  
  tr {
    border-bottom: 1px solid #4c9baf;
    text-align: center;
  }
  
  td {
    padding: 1px;
    border: 1px solid #ddd;
    text-align: center;
    color: black;
  }
  
  .recherche {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .recherche input {
    padding: 10px;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
  }
  
  .personne-container:nth-child(even) {
    background-color: #93d6f5;
  }
  
  .personne-container.highlight {
    background-color: #ffcccb;
    transition: background-color 0.3s ease;
  }
