
.adresse {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 30px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(25% - 20px); 
}
.img{
    width: 300px;
    height: 300px;
}
.adresse h3 {
    color: #0011ff;
    margin-bottom: 8px;
    font-size: 1.2em;
}


/* Style pour la section Jours d'ouverture et Horaire de distribution */
.ouvert,
.Distribution {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: calc(25% - 20px); /* 50% de la largeur moins la marge */
    margin-right: 20px; /* Ajoute une marge à droite pour l'espace entre les sections */
}

.ouvert h3,
.Distribution h3 {
    color: #0011ff;
    margin-bottom: 8px;
}

/* Style pour les sous-sections Produit frais et Produit FSE+ et produit sec */
.frais,
.sec {
    margin-bottom: 15px;
}

.frais h4,
.sec h4 {
    color: #0011ff;
    margin-bottom: 8px;
}

.frais p,
.sec p {
    margin: 3px 0;
    color: #333;
}
