body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/pexels-photo-3653997.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: row; /* Utilisez une disposition en ligne pour les enfants */
    justify-content: space-around; /* Espacement équitable entre les enfants */
    align-items: center;
  }
  
  .doc,
  .adresse {
    width: 30%; /* Largeur de chaque colonne, la même que Distribution, Activites et Presentation */
    box-sizing: border-box;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(252, 252, 254, 0.3);
    border: 2px solid #3498db;
    padding: 20px;
    text-align: center;
  }
  
  .doc img,
  .adresse img {
    width: 50px;
    height: 50px;
  }
  
  .doc h3,
  .adresse h3 {
    color: #3498db;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .doc p,
  .adresse p {
    margin-bottom: 10px;
    line-height: 1.6;
    color: #555;
  }
  
  .adresse {
    text-align: center; /* Alignez le texte à gauche dans la colonne adresse */
  }
  