<body class="background-image body-container">
  <div class="doc">
    <h3>
      Accès <br>
      Pour qui ? Pour quoi ?
    </h3>
    <p>
      Les personnes des 15 communes du Grand Charleroi
    </p>
    <p>
      Les personnes bénéficiant de certains types de revenus :
    </p>

    <p>Allocation de chômage</p>
    <p>R.I.S (CPAS)</p>
    <p> Mutuelle</p>
    <p>Petite Pension</p>

    <p>Les personnes étant en médiation de dettes</p>
    <p>Les personnes gérées par avocat</p>
    <p>Toutes personnes en difficulté financière</p>
    <h3> Document à fournir </h3>
    <p>Preuve de revenu ou attestion</p>
    <p>Composition de ménage</p>
  </div>


  <div class="adresse">
    <h3>Adresse</h3>
    <p>26, Place Reine Astrid</p>
    <p>6030 Marchienne au Pont (Docherie)</p>
    <p>A 850 m à pied de l'arrêt de bus "Petermans"</p>
    <p>Ligne de bus :</p>

    <p> 86</p>
    <p> 85</p>
    <p> 172</p>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2638365.7697577933!2d1.3861329362759618!3d49.77611481450451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2258b777fa11b%3A0x2931aaf5ac0c10f5!2sASBL%20Saint%20Vincent%20de%20Paul%20Docherie!5e0!3m2!1sfr!2sbe!4v1702369166142!5m2!1sfr!2sbe"
      width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>


</body>