<body class="background-image body-container">
    <div class="adresse">
        <h3>Adresse</h3>
        <p>26, Place Reine Astrid</p>
        <p>6030 Marchienne au Pont (Docherie)</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2541.9074876477625!2d4.401708188782242!3d50.424195258089895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2258b777fa11b%3A0x2931aaf5ac0c10f5!2sASBL%20Saint%20Vincent%20de%20Paul%20Docherie!5e0!3m2!1sfr!2sbe!4v1702219686686!5m2!1sfr!2sbe"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" gesture="auto"></iframe>
    </div>
  
      <div class="ouvert">
        <h3>Jours d'ouverture</h3>
        <p>Lundi : 8h30 à 13h00</p>
        <p>Mardi : 8h30 à 14h30</p>
        <p>Mercredi : 8h30 à 14h00</p>
        <p>Jeudi : 8h30 à 14h30</p>
        <p>Vendredi : 8h30 à 14h00</p>
        <p>Samedi : 8h30 à 14h30</p>
        <p>Dimanche : Fermé</p>
      </div>
    
  </body>
  