body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/batiment.PNG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ouvert {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    width: 80%;
    max-width: 600px;
}

.adresse {
    background-color: rgba(0, 0, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    width: 800px;
    max-width: 800px;
    height: 50vh; /* 100% de la hauteur de la vue */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adresse iframe {
    width: 600px; /* Ajustez la largeur de l'iframe pour qu'elle soit à 100% du conteneur parent */
    height: 350px; /* Ajustez la hauteur de l'iframe pour qu'elle soit à 100% du conteneur parent */
    /* Ajoutez d'autres propriétés CSS au besoin */
}
