
<div class="adresse">
<h3>Adresse</h3>
<p>26, Place Reine Astrid</p>
<p>6030 Marchienne au Pont (Docherie)</p>
<img src="../../assets/images/image carte.png" alt="" class="img">
</div>



<div class="ouvert">
    <h3>Jours d'ouverture</h3>
    <p>Lundi : 8h30 à 13h00</p>
    <p>Mardi : 8h30 à 14h30</p>
    <p>Mercredi : 8h30 à 14h00</p>
    <p>Jeudi : 8h30 à 14h30</p>
    <p>Vendredi : 8h30 à 14h00</p>
    <p>Samedi : 8h30 à 14h30</p>
    <p>Dimanche : Fermé</p>
</div>



<div class="Distribution">
    <h3>Horaire de distribution</h3>
    <div class="frais">
        <h4>Produit frais</h4>
        <p>Tout les mardi et samedi</p>
        <p>De 10 h 00 à 13 h 00</p>
    </div>
    <div class="sec">
        <h4>Produit FSE+ et produit sec</h4>
        <p>Un jeudi sur deux</p>
        <p>De 10h 00 à 13 h 00</p>
    </div>
</div>
