
table.personne-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre légère */
  border-radius: 12px; /* Coins arrondis pour le tableau */
  overflow: hidden;
}

/* Nouveau style de l'en-tête du tableau */
thead {
  background-color: #336699; /* Couleur de fond de l'en-tête */
  color: white; /* Couleur du texte de l'en-tête */
  text-align: center;
}


th {
  padding: 1px;
  text-align: left;
  border: 1px solid #4ca2af; /* Couleur de bordure des titres de colonne */
  border-top: none;
  border-bottom: none;
  border-radius: 12px 12px 0 0; /* Coins arrondis pour le haut des cellules */
  text-align: center;
}

/* Nouveau style des lignes du tableau */
tr {
  border-bottom: 1px solid #4c9baf;
  text-align: center;
}

/* Nouveau style des cellules du tableau */
td {
  padding: 1px;
  border: 1px solid #ddd;
  text-align: center;
}


.chef-menage {
  font-weight: bold;
  background-color: greenyellow;
}


.recherche {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}


.recherche input {
  padding: 10px;
  width: 300px; /* Ajustez la largeur selon vos besoins */
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
  transition: border-color 0.3s ease; /* Ajout d'une transition pour une animation en douceur */
}


.personne-container:nth-child(even) {
  background-color: #93d6f5; /* Nouvelle couleur pour les lignes paires */
}


.personne-container.highlight {
  background-color: #ffcccb; /* Couleur de mise en évidence, ajustez selon vos préférences */
  transition: background-color 0.3s ease; /* Ajout d'une transition pour une mise en évidence en douceur */
}
