body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/images/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ajoutez ceci pour centrer verticalement */
}

.Logins {
    width: 300px; /* Ajustez la largeur du formulaire selon vos besoins */
}

form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%; /* Utilisez 100% pour occuper la largeur du parent */
    max-width: 300px; /* Ajustez la largeur maximale selon vos besoins */
    margin: auto; /* Centrez horizontalement */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px); /* Utilisez calc pour déduire les marges de chaque côté */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
