<div class="container">


  <div class="histoire">
    <p>La Confédération internationale de la Société de Saint-Vincent-de-Paul (SSVP) est une organisation de
      bienfaisance catholique laïque, dirigée par des bénévoles, et fondée à Paris en 1833 par un groupe de laïcs
      catholiques parmi lesquels Frédéric Ozanam, déclaré bienheureux par le pape Jean-Paul II.</p>
  </div>

  <div class="heros">
    <h3>Les Héros de l'Aide Alimentaire </h3>
    <p>Au cœur de notre ASBL dédiée à l'aide alimentaire, les bénévoles jouent un rôle essentiel, tissant un fil
      invisible mais puissant qui relie la générosité à ceux qui en ont le plus besoin.

      Certains de nos héros sont les architectes de l'espoir, sillonnant les allées des grandes surfaces avec
      détermination pour collecter des produits frais. Leurs paniers remplis de générosité deviennent le point de départ
      de notre mission, apportant des sourires et des repas nourrissants.

      D'autres se tiennent à la barre du tri, méticuleusement organisant et inspectant chaque don. Leur engagement
      métamorphose des rayons de denrées en provisions soigneusement sélectionnées, prêtes à réchauffer les cœurs et les
      estomacs de ceux qui comptent sur notre soutien.

      Enfin, nos bénévoles de la distribution sont les messagers de l'empathie, distribuant des colis alimentaires qui
      vont au-delà de la simple nourriture. Chaque geste est un lien d'espoir tissé dans le tissu de la communauté.

      Ces bénévoles ne sont pas simplement des acteurs de l'aide alimentaire, mais des architectes de la dignité. Leurs
      efforts soutenus forgent un pont entre l'abondance et le besoin, transformant des ressources simples en cadeaux
      précieux.

      À ces héros discrets, nos artisans de la bienveillance, nous disons merci. Merci d'incarner les valeurs
      fondamentales de solidarité et de compassion. Grâce à vous, notre ASBL devient un foyer de générosité, offrant un
      repas et un espoir à ceux qui en ont le plus besoin. Vous êtes les étoiles qui illuminent notre mission, et pour
      cela, nous sommes infiniment reconnaissants.</p>
  </div>

</div>
<div>
<img src="../../assets/images/Distribution.jpg" alt="">
<img src="../../assets/images/distrib.jpg" alt="">
</div>