<!-- index.html -->
<body class="background-image body-container">
  
      <div class="Activite">
        <h3>Activité</h3>
        
        <p>Distribution de colis alimentaire</p>
        <p>Petite boutique de vêtement</p>
        <p>Petite brocante</p>
        <p>Aide administrative</p>
        <p>Aide à l'ameublement</p>
        <img src="../../assets/images/Distribution.jpg" alt="">
      </div>

      <div class="Distribution">
        <img src="../../assets/images/distrib.jpg" alt="">
        <h3>Distribution</h3>
        <h5>Produit Frais</h5>
        
          <p>Le mardi : 10h00 à 13h00</p>
          <p>Le samedi 10h00 à 13h00</p>
        

        <h5>Produit Européen et produit sec</h5>
        
          <p>Un jeudi sur deux : 10h00 à 13h00</p>
        
      </div>
   
  
</body>
