/* styles.css */
body {
  margin: 0;
}

.imgAcc {
  width: 100%;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.imgAcc img {
  width: 80%;
  height: 350px;
  border-radius: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permettre le retour à la ligne pour les éléments enfants */
}

.presentation,
.Activites,
.Distribution {
  width: 30%;
  box-sizing: border-box;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(252, 252, 254, 0.3);
  border: 2px solid #3498db;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.presentation img {
  width: 50px;
  height: 50px;
}

.Activites img,
.Distribution img {
  width: 150px;
  height: 150px;
}

.presentation h3,
.Activites h3,
.Distribution h3 {
  color: #3498db;
  font-size: 2rem;
  margin-bottom: 10px;
}

.presentation p,
.Activites p,
.Distribution p {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #555;
}
