/* styles.css */
.navbar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; /* Fond blanc pour la barre principale */
  padding: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-item a,
.dropbtn {
  text-decoration: none;
  color: blue; /* Couleur sombre pour le texte des boutons */
  font-weight: bold; /* Texte en gras */
  margin: 0 10px;
  transition: color 0.3s ease;
}

.navbar-item a:hover,
.dropdown-content a:hover {
  color: red;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 12px;
  font-size: 16px;
  border: none;
  background-color: white; /* Fond blanc pour le bouton */
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white; /* Fond blanc pour le menu déroulant */
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color:rgb(11, 11, 200);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color:red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Logins {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #333;
}

.Accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Fond blanc pour .Accueil */
}

.Accueil img {
  height: 50px;
  width: 50px;
}

.Accueil .img-bg {
  background-color: white; /* Fond blanc pour l'image */
}
