 <div class="img">
  <img src="../assets/images/Saint.png" alt="">
 </div>
<div class="container">
<!-- <img src="../assets/images/svpdCiel.jpg" alt="" > -->
</div>
<router-outlet>

  <nav  class="navigate">
    <a routerLink="app-index"><strong>Accueil</strong></a>
    <a routerLink="galerie"><strong>Galerie Photo</strong></a>
    <a routerLink="info"><strong>Informations</strong></a>
    <a routerLink="task-list"><strong>Liste de tâches</strong></a>
    <a routerLink="add-task"><strong>Ajouter une tâche</strong></a>
    <a routerLink="add-personnes"> <strong>Ajouter une personne</strong></a>
    <a routerLink="liste-personnes"><strong>Liste des bénéficiaires</strong></a>
    <a routerLink="app-add-commentaire"><strong>Ajouter un message</strong></a>
    <a routerLink="app-liste-commentaire"><strong>Liste des messages</strong></a>
    <a routerLink="add-benevole"><strong>Ajouter un bénévole</strong></a>
    <a routerLink="app-liste-benevole"><strong>Liste des bénévoles</strong></a>
  </nav>

</router-outlet>


